<div id="navigation">  <!--  Navigation  -->
    <div>
        <h3>
            Wellocme <%= locals.user %>
        </h3>
         
    </div>

    <div id="nav-bar">
        <div>  <a href="/"> Home </a></div>
        <div> <a href="/"> Daily Report </a>  </div>
        <div> <a href="/"> Week Report </a>  </div>
        <div>
            <button> Logout </button>
        </div>
    </div>
</div>  <!-- / Navigation -->