<%- include('_navigation'); %>

<div id="searh-display">     

    <div> 
        <form action="/create-habit" method="POST">
            <input name="habit" type="text" placeholder="Add Your Habit" required>
            <button type="submit"> Add </button>
        </form>
    </div>

    <div> 
        <%  for(let h of habits) { %> 
            <div> <%= h %></div>
        <% } %>
        
        
    </div>
</div>