<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://kit.fontawesome.com/9b7b53cce3.js" crossorigin="anonymous"></script>


    <link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="/css/home.css">


</head>

<body>

    <div id="main-div">
        <h1>
            <%= title %>
        </h1> <!--  Heading -->
    </div> <!-- / Heading -->


    <%- body %>

</body>

</html>