<div>

    <div>
        <form action="/signin-signup" method="post">
            <input type="email" name="email" placeholder="Enter Your Email">
            <button> Signin / Signup</button>
        </form>
    </div>


</div>